* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

html,
body {
  font-family: 'Avenir', 'Arial', sans-serif;
  font-size: 1.5vw;
  background: var(--white);
  color: var(--black);
  width: 100%;
  height: 100%;
  margin: 0;
}

p {
  font-size: 1rem;
}

header {
    /* z-index: 999; */
    /* position: absolute; */
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #006c90;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-left: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    width: 100%;
    padding: 20px;
}

    

.menu__logo {
    width: 200px;
}

.menu a {
    text-decoration: none;
    color: var(--white);
    padding-left: 40px;

}

.slider-frame {
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    background-color: var(--black);
}

.slider-frame h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 30px;
    font-size: 3rem;

    color: var(--white);
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 300%;

    animation: slide 15s infinite ease-in-out;
}

.slider-frame li {
    list-style: none;
    width: 100%;
}

.slide_01 {
    height: 800px;
    background-image: url(./IMG/slider_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.slide_02 {
    height: 800px;
    background-image: url(./IMG/slider_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide_03 {
    height: 800px;
    background-image: url(./IMG/slider_03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide__background {
    width: 100%;
    height: 100%;
    background-color: #25252590;
}

.soluciones__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.soluciones__container h2 {
    margin-bottom: 50px;
}

.soluciones__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    gap:50px 70px;
    grid-auto-rows: minmax(100px, auto);
    margin: 10px 100px;
}

.solucion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50%;
}

.solucion img {
    width: 50%;
    margin-bottom: 20px;
}

.solucion img:hover {
    cursor: pointer;
}

.solucion p {
    text-align: center;
    width: 200px;
    height: 40px;
}

.nosotros__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background-color: var(--white);
}

.nosotros-imagen {
    max-width: 50%;
    max-height: 50%;
}

.nosotros-imagen img {
    width: 100%;
    overflow: hidden;
}

.nosotros-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 5% 5%;
}

.nosotros-texto p {
    width: 100%;
}

.form__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background-color: var(--white);
}

.form__inner-container {
    width: 46%;
    padding: 2%;
}

.form-imagen {
    width: 50%;
}

.form-imagen img {
    object-fit: cover;
    width: 100%;
}

.form {
    height: 100%;
    width: 100%;
}

.form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form input {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    border: 1px solid var(--primary);
    background-color: var(--white);
}

.form input::placeholder {
    padding-left: 10px;
}

/* Add space between the first 4 input text boxes */
.form input:nth-child(-n + 6) {
    margin-bottom: 20px;
}

/* Make fifth text imput bigger */
.form input:nth-child(6) {
    height: 200px;
}

/* Vertically align placeholder text to top */
/* .form input:nth-child(6)::placeholder {
    
} */

.form__button {
    padding: 10px 30px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    font-weight: 800;
    font-size: 1rem;
}

.button__container {
    display: flex;
    justify-content: right;
}


.clientes__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}

.clientes__inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
}

.cliente {
    text-align: center;
    max-width: 250px;
}

.cliente:nth-child(2) {
    padding: 0 20px;
}

.cliente img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    width: 100%;
    height: 300px;
}

.footer__inner-container {
    display: flex;
    justify-content: left;
    width: 80%;
}

.footer__logo {
    padding: 0 100px 0 0;
    width: auto;
    height: 70px;
}


.footer__text {
    color: var(--white);
}

.footer__text a {
    text-decoration: none;
}

.footer__text a:visited{
    color: var(--white);
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
}

:root {
    --primary:#006c90;
    --secondary:#00202b;
    --white:#f2f2f2;
    --black:#252525;
}

@media screen and (min-width: 1420px){

    p {
        font-size: 1.3vw;
    }

    .soluciones__wrapper {
        padding: 2%;
        margin-bottom: 20px;
    }

    .clientes__inner-container {
        max-width: 2000px;
        justify-content: space-between;
        align-items: flex-start;
    }

    .cliente {
        max-width: 400px;
    }

    .cliente img {
        width: 100%;
    }

}

@media screen and (max-width: 800px) {
   p {
    font-size: 4vw;
   }

   strong {
    font-size: 4vw;
   }

   h2 {
    font-size: 9vw;
   }

   header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .menu__logo {
    width: 200px;
   }

   .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 0;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 0;
}

   .menu a{
    font-size: 4vw;
    padding: 0;
    margin-bottom: 10px;
   }

   .slider-frame {
    height: 500px;
   }

   .slide__background {
    height: 500px;
   }

   .slide__background h1 {
    font-size: 10vw;
    padding: 0 30px;
   }

   .soluciones__container {
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

   .soluciones__wrapper {
    /* display: flex;
    flex-direction: column; */
    grid-template-columns: repeat(2, 1fr);
      gap: 100px 10px;
      grid-auto-rows: minmax(100px, auto);
      margin: 10px 40px;
  }

  .solucion p{
    width: 150px;
  }

  .nosotros__container {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .nosotros-imagen {
    max-width: 100%;
  }

  .nosotros-texto {
    width: 80%;
  }

  .form__container {
    flex-direction: column;
  }

  .form-imagen {
    width: 100%;
  }

  .form__inner-container {
    width: 80%;
  }

  .form__button {
    width: 100%;
    font-size: 4vw;
    margin-bottom: 20px;
  }

  .form input::placeholder {
    font-size: 4vw;
}


  .clientes__inner-container {
    flex-direction: column;
  }

  .cliente {
    margin-bottom: 20px;
  }

  .footer__inner-container {
    flex-direction: column;
  }

  .footer__logo {
    height: 100%;
    padding: 0 60px;
    margin-bottom: 50px;
  }

  .footer__text a {
    font-size: 4vw;
  }
}